.nav {
  margin: 0;
  padding: 0;
  background-color: lighten(black, 25%);

  li {
    display: inline-block;
    margin-right: 25px;
    padding: 20px;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
    }

    &:hover {
      background-color: white;
      a {
        color: black;
      }
    }
  }
}
